<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
          <a href="">
            <img src="../../../assets/logo/logo.svg" alt="" class="logoK">
          </a>
        <p class="footer-tagline">Agence de communication <br> ( presentation de l’gence )</p>


        <div class="social-media-container">
          <div class="social-media-links">
            <a href="https://www.facebook.com/"><img src="../../assets/icons/fbColor.svg" alt="fb"></a>
            <a href=""><img src="../../assets/icons/igColor.svg" alt="instagram"></a>
            <a href=""><img src="../../assets/icons/inColor.svg" alt="linkedin"></a>
            <a href=""><img src="../../assets/icons/xColor.svg" alt="x"></a>
            <a href=""><img src="../../assets/icons/ybColor.svg" alt="youtube"></a>
          </div>
        </div>

      </div>
      
      <div class="footer-links">
        <div class="footer-column">
          <h4>Agence</h4>
          <ul>
            <li><a (click)="scrollToSection('home')">Accueil</a></li>
            <li><a (click)="scrollToSection('services')">Services</a></li>
            <li><a (click)="scrollToSection('values')">Offers</a></li>
            <li><a (click)="scrollToSection('contact')">Contact</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h4>Aide</h4>
          <ul>
            <li><a>Emplois</a></li>
            <li><a>Politique de confidentialité</a></li>
            <li><a>Mentions légales</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h4>Contact</h4>
          <ul>
            <div class="contact-item">
              <img src="../../../assets/icons/whatsappColor.svg" alt="">
              <div>
                <div class="contact-value">+216 56 656 656</div>
              </div>
            </div>
            <div class="contact-item">
              <img src="../../../assets/icons/mailColor.svg" alt="">

              <div>
                <div class="contact-value">contact@xicom.fr</div>
              </div>
            </div>
            <div class="contact-item">
              <img src="../../../assets/icons/localisationColor.svg" alt="" >

              <div>
                <div class="contact-value">123 Avenue des Champs-Élysées, Paris</div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p></p>
      <div class="footer-social">
        <p>&copy; Copyright 2025, All Rights Reserved by XI COM</p>
      </div>
    </div>
  </div>
</footer>