<nav class="navbar">
  <div class="container">
    <div class="nav-brand">
          <a href="">
            <img src="../../../assets/logo/logo.svg" alt="" class="logoK">
          </a>
    </div>
    <ul class="nav-menu">
      <li><a  href="/">Accueil</a></li>
      <li><a >Services</a></li>
      <li><a href="offers">Offers</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <button class="btn-primary" (click)="signup()">Connecter</button>
    <button class="btn-secondary">Commencer</button>
  </div>
</nav>